* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  color: #000;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container-index {
  margin: 30px auto;
}

.titulo {
  text-align: center;
  margin-bottom: 20px;
  font-weight: normal;
  color: #fff;
  padding: 30px 0;
  text-transform: uppercase;
  font-size: 1.125rem;
  background: #111;
  letter-spacing: .5rem;
}

.container-separador {
  background: #f8f8f8;
  padding: 20px 0;
}

@media (min-width: 1000px) {
  .container {
    max-width: 1000px;
  }
}

@media (min-width: 968px) {
  .container {
    max-width: 968px;
  }
}

@media (min-width: 700px) {
  .container {
    max-width: 700px;
  }
}

@media (min-width: 568px) {
  .container {
    max-width: 568px;
  }
}

@media (min-width: 350px) {
  .container {
    max-width: 968px;
  }
}